@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-banner{
    background-color: navy;
    padding-left: 40px;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.welcome h1{
    font-size: 64px;
    font-weight: 900;
    color: white;
    padding-top: 60px;
    margin-bottom: 0px;
}
.banner1{
    padding-top: 40px;
}
.banner1 img{
    width: 556.01px;
    height: 438px;
    padding-left: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
}
a{
    background-color:  #E02C6D;
    text-decoration: none;
    color: white;
    margin-top: 27px;
    padding: 10px 24px;

}
.grids{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 70px;
}
.grid{
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 2px 2px 10px lightgray;
    border-image-slice: 1;
}
.grid img{
    width: 100%;
    height: 256px;
}
.highlight{
    display: flex;
    padding-top: 100px;
    margin-left: 100px;
    padding-left: 50px;
    margin-right: 100px;
}
.details .highlight-image{
    width: 50%;
    margin-left: 100px;
}
.details h1{
    font-size: 48px;
    color: #0A0826;
    padding-top: 62px;
    padding-bottom: 8px;
    margin-bottom: 0;
}
.details p{
    font-size: 16px;
    color:  #6C6C6C;
    margin-bottom: 10px;
    padding-right: 150px;
}
.highlight-image img{
    width: 567px;
    height: 427px;
}
.football img{
    width: 483.87px;
    height: 110px;
}
.football{
    text-align: center;
    margin-top: 100px;
}
.logo{
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;  
}
.anchor{
    background-color: lightgray;
    height: 17px;
    width: 17px;
    border-radius: 45%;
}
.login-container {
    display: flex;
    justify-content: center;
}

.login-container h2 {
    text-align: center;
    font-size: 2em;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    font-size: 1.3em;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}

.form button {

    background-color: blue;
    color: white;
    font-size: 1.3em;
    border-radius: 100px;
    padding: 5px 0;
    margin: 20px 70px;
    cursor: pointer;

}
footer p{
    text-align: center;
    margin-top: 40px;
}
/* mobile view */
@media only screen and (max-width:688px) {
    .welcome h1{
        font-size: 30px;
        font-weight: 500;
        color: white;
        padding-top: 28px;
        margin-bottom: 10px;
    }
    .banner1{
        padding-top: 40px;
    }
    .banner1 img{
        width: 250px;
        height: 150px;
        padding-left: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    a{
        background-color:  #E02C6D;
        text-decoration: none;
        color: white;
        margin-top: 27px;
        padding: 2px 0px;
    
    }
    .grids{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        margin-top: 70px;
    }
    .grid img{
        width: 100%;
        height: 256px;
    }
    .highlight{
        display: flex;
        padding-top: 100px;
        margin-left: 100px;
        padding-left: 50px;
        margin-right: 100px;
    }
    .details h1{
        font-size: 10px;
    color: #0A0826;
    padding-top: 12px;
    padding-bottom: 4px;;
        margin-bottom: 0;
    }
    .details p{
        font-size: 7px;
        color:  #6C6C6C;
        margin-bottom: 10px;
        padding-right: 60px;
    }
    .highlight-image img{
        width: 250px;
    height: 209px;
}
.football img {
    width: 189.87px;
    height: 75px;
}
    } 
    }
    }
    /*       table view***********     * */

    @media only screen and (min-width:688px) and (max-width:992px){
        .welcome h1{
            font-size: 30px;
            font-weight: 700;
            color: white;
            padding-top: 40px;
            margin-bottom: 0px;
        }
        .banner1{
            padding-top: 40px;
        }
        .banner1 img{
            height: 357px;
            padding-top: px;
        }
        a{
            background-color:  #E02C6D;
            text-decoration: none;
            color: white;
            margin-top: 27px;
            padding: 8px 18px;
        
        }
        .grids{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 13px;
            margin-top: 36px;
        }
        .details h1{
            font-size: 10px;
            color: #0A0826;
            padding-top: 16px;
            padding-bottom: 6px;
            margin-bottom: 0;
        }
        .details p{
            font-size: 7px;
            color:  #6C6C6C;
            margin-bottom: 8px;
            padding-right: 100px;
        }
        .highlight-image img{
            width: 400px;
            height: 300px;
        }
    }
